*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
}



.grid-container{
    padding: 10px;
    height: 100vh;
    background-color:rgb(235, 164, 229) ;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:repeat(3, 1fr);
    gap:10px;

    grid-template-areas: 
    "mit1 mit1 mit1 mit2 mit2 mit2"
    "mini1 mini1 mega1 mega1 mega1 mega1"
    "footer footer footer footer footer footer"
    ;

}

.grid-item:nth-child(1){
    background-color: #ffc6c4;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(2){
    background-color:#b2d8d8;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(3){
    background-color: #c7e5c5;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(4){
    background-color: #fff1b5;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(5){
    background-color:  #d4bfff;
    padding: 10px;
    /* margin: 10px; */
}

#mit1{
    grid-area: mit1;
}

#mit2{
    grid-area: mit2;
}

#mini1{
    grid-area: mini1;
}

#mega1{
    grid-area: mega1;
}

#footer{
    grid-area: footer;
}



