*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
}



.grid-container{
    padding: 10px;
    height: 100vh;
    background-color:rgb(235, 164, 229) ;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap:10px;

    grid-template-areas: 
    ". . ."
    ". . .";

}

.grid-item{
    padding: 10px;
    /* margin: 10px; */
}

.grid-item:nth-child(1){
    background-color: #ffc6c4;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(2){
    background-color:#b2d8d8;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(3){
    background-color: #c7e5c5;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(4){
    background-color: #fff1b5;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(5){
    background-color:  #d4bfff;
    padding: 10px;
    /* margin: 10px; */
}
.grid-item:nth-child(6){
    background-color:#ffd8b1;
    padding: 10px;
    /* margin: 10px; */
}




